body {
    background: url('images/IMG_1018.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#arrow-buttons {
    display: grid;
    grid-template-rows: 50px 50px 50px; /* Kolme riviä */
    grid-template-columns: 50px 50px 50px; /* Kolme saraketta */
    justify-content: center;
    align-items: center;
    gap: 10px; /* Väli painikkeiden välillä */
    margin: 20px auto;
    width: max-content;
}

/* Aseta painikkeet oikeille paikoille */
#arrow-buttons button:nth-child(1) { grid-column: 2; grid-row: 1; } /* UP */
#arrow-buttons button:nth-child(2) { grid-column: 1; grid-row: 2; } /* LEFT */
#arrow-buttons button:nth-child(3) { grid-column: 3; grid-row: 2; } /* RIGHT */
#arrow-buttons button:nth-child(4) { grid-column: 2; grid-row: 3; } /* DOWN */


/* Yksittäiset painikkeet */
#arrow-buttons button {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    background-color: #007bff; /* Sininen tausta */
    color: #fff; /* Valkoinen teksti */
    font-size: 20px; /* Suurempi teksti nuolille */
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

/* Hover-efekti painikkeille */
#arrow-buttons button:hover {
    background-color: #0056b3; /* Tummempi sininen hover-tilassa */
}


#lost {
    position: absolute;
    border-radius: 50%;
    top: 100px;
    left: 100px;
    width: 100px;
    height: 100px;
    border: 2px solid;
    padding: 10px;
    background: url('images/bug.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    
}

#goal {
    background: url('images/IMG_0925.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 240px;
    height: 240px;
    border: 1px solid;
    border-radius: 50%;
    position: fixed; 
    bottom: 20px; 
    right: 20px;
}


div {
  padding-top: 10px;
 
}

h1 {
    text-align: center;
    color: rgb(248, 243, 247);
    font-size: 50px;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
    color: rgb(248, 243, 247);
    font-size: 32px;
    margin-top: 4rem;
}

